name: "Issue Labeler"
on:
  issues:
    types: [ opened ]

permissions:
  contents: read

jobs:
  label-component:
    runs-on: ubuntu-latest

    permissions:
      issues: write

    steps:
      - uses: actions/checkout@v3

      - name: Parse issue form
        uses: stefanbuck/github-issue-parser@v3
        id: issue-parser
        with:
          template-path: .github/ISSUE_TEMPLATE/BUG-REPORT.yml

      - name: Set labels based on category
        uses: redhat-plumbers-in-action/advanced-issue-labeler@v2
        with:
          issue-form: ${{ steps.issue-parser.outputs.jsonString }}
          section: category
          block-list: |
            Other Bug (Something that doesn't fall under the above)
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Label issue based on operating system
        uses: redhat-plumbers-in-action/advanced-issue-labeler@v2
        with:
          issue-form: ${{ steps.issue-parser.outputs.jsonString }}
          section: os
          token: ${{ secrets.GITHUB_TOKEN }}